<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{{ 'quick-add.css' | asset_url | stylesheet_tag }}
<style>
  .grid-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top:30px;
  }
  .grid-main-container img{
    width:100%;
    height:auto;
  }
  .grid-main-container button{
    border:none;
    box-sizing:unset;
  }
  @media screen and (max-width:800px){
    .grid-main-container{
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
{% if section.blocks.size > 0 %}
    <section id="{{ section.id }}">
      <div class="page-width">
        <div class="grid-main-container">
          {% for block in section.blocks %}
            {% if block.settings.grid_image != blank %}
                <div class="grid-main-container-slides">
                  {{ 
                    block.settings.grid_image 
                    | image_url: width:800
                    | image_tag: class:'main-image',loading:'lazy'
                }}
                {% assign product = block.settings.product %}
                {% render 'popUp' , card_product:product %}
                </div>
             {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
{% endif %}
{% schema %}
  {
    "name": "Grid Section",
    "settings": [],
    "blocks": [{
       "type":"gridcol",
       "name":"slides",
       "settings": [
        {
            "type": "image_picker",
            "id": "grid_image",
            "label": "Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
       ]
   }], 
    "presets":[{"name":"grid section"}]
  }
{% endschema %}